<!DOCTYPE html>
<html>
<head>
    <title>Список городов</title>
</head>
<body>
    <h1>Список городов</h1>
    <ul>
        {% for city in cities %}
            <li>{{ city.name }}</li>
            <ul>
                {% for author in city.authors.all %}
                    <li>{{ author.name }}</li>
                    <ul>
                        {% for book in author.books.all %}
                            <li>{{ book.title }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>
